*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	list-style: none;
	text-decoration: none;
}

header{
	height: 387.56px;
	background-color: #0020F4;
}

.logo-pic{
	width: 115px;
	height: 65px;
	margin-top: 40px;
	margin-left: 240px;
	vertical-align: top;	

}



.list{
	color: #ffffff;
	padding-left: 43px;
	font-size: 16px;		
}

.contact{
	color: #171717;
	font-family: helevticaNeue;
	font-weight: bold;
	font-size: 16px;
	padding: 18px 43px 18px 36px;
	border-radius: 28px;
	background-color: #FFFFFF;
	margin-left: 42px;
}

nav{
	display: inline-block;
	margin-top: 64px;
	margin-left: 130px;

}
nav>ul{
	display: inline-block;

}


nav>ul>li{
	display: inline-block;
	vertical-align: middle;

}

.question{
	width: 1195px;
	margin-left: auto;
	margin-right: auto;
}

.main-pic{
	width: 100%;
	height: 600px;
}

h1{
	font-family: helveticaNeue;
	font-weight: bold;
	font-size: 28px;
	color: #171717;
	margin-top: 30px;
	margin-bottom: 60px;
}

h3{
	font-family: HelveticaNeue;
	font-weight: bold;
	font-size: 32px;
	color: #ffffff;
	padding-bottom: 18px;
}

.list-pic{
	width: 219px;
	height: 219px;
	margin-bottom: 60px;
	margin-left: 15px;
}

.text{
	width: 951px;
	margin-left: auto;
	margin-right: auto;
}

p{
	font-family: helveticaNeue, normal;
	font-size: 16px;
	color: #171717;
	padding-bottom: 18px;
}

.add-info{
	width: 341px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	margin-bottom: 180px;
}

.button{
	font-family: helveticaNeue;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color: #ffffff;
	background-color: #0A22F4;
	padding: 18px 77px 18px 57px;
	border-radius: 28px;
}

footer{
	background-color: #0A22F4;
}

.location{
	width: 463px;
	margin-left: 240px;
	padding-top: 100px;
	padding-bottom: 58px;
	


}

.contacts{
	color: #ffffff;
}

.map{
	width: 463px;
	height: 197px;
	margin-top: 30px;
}


.footer-logo{
	width: 70px;
	height: 70px;
	padding: 22px;
	background-color: #ffffff;
	border-radius: 50px;
	margin-left: 260px;
	vertical-align: bottom;

}

.address{
	display: inline-block;
	margin-bottom: 206px;

}

.number{
	display: inline-block;
	color: #ffffff;
	padding-left: 22px;
	vertical-align: middle;
}

.rights{
	display: inline-block;

}
.all-rights{
	display: inline-block;
	color: #FFFFFF;
	font-family: helveticaNeue;
    font-weight: normal;
    font-size: 16px;
    margin-left:240px;
    margin-right: 500px;
    margin-bottom: 40px;
}

.made-in{
	display: inline-block;
	color: #ffffff;
	font-family: helveticaNeue;
    font-weight: normal;
    font-size: 16px;


}

.heart{
	width: 26px;
	height: 26px;
	margin-left: 16px;
	vertical-align: middle;

}
span{
	padding-left:10px;
}
.ball{
	width: 121px;
	height: 35px;
	vertical-align: middle;
	margin-left: 30px;
}